<section class="content">
    <div class="box-header with-border box box-primary" style="background: white; box-shadow: none">
        <div class="box-header with-border">
            <h3 class="box-title">CATEGORIES</h3>
        </div>
        <mat-table #table [dataSource]="_dataSource$ | async">
            <!-- Position Column -->
            <ng-container matColumnDef="itCategoryCode">
                <mat-header-cell *matHeaderCellDef> Category ID </mat-header-cell>
                <mat-cell *matCellDef="let category">
                    {{ category.category_id }}
                </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="itCategoryName">
                <mat-header-cell *matHeaderCellDef> Category Name </mat-header-cell>
                <mat-cell *matCellDef="let category">
                    {{ category.category_name }}
                    <span style="position: absolute; right: 30px;">
            <button mat-icon-button>
              <mat-icon color="primary" data-toggle="modal" data-target="#exampleModal" (click)="edit(category)"> edit </mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon (click)="delete(category.category_id)" color="warn"> delete </mat-icon>
            </button>
          </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
    </div>
    <!-- <pre>{{ _items.value | json }}</pre> -->
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form [(formGroup)]="_categoryMasterFormUpdate" style="display:flex; flex-direction: column;">

                <div class="form-group col-md-10">
                    <label>Category Name</label>
                    <input type="email" class="form-control" placeholder="Enter Category" formControlName="category_name" />
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (ngSubmit)="updateCategory()">Save changes</button>
            </div>
        </div>
    </div>
</div>