<section class="content">
    <div class="box-header with-border box box-primary">
        <form [formGroup]="_customerMasterForm">
            <div class="form-group col-md-3">
                <label>Customer Code</label>
                <input type="email" class="form-control" placeholder="Enter Customer ID" formControlName="customers_id" />
            </div>
            <div class="form-group col-md-3">
                <label>First Name</label>
                <input type="email" class="form-control" placeholder="Enter Full Name of Customer" formControlName="customers_name" />
            </div>

            <div class="form-group col-md-6">
                <label>Address</label>
                <input type="Description" class="form-control" placeholder="Enter the Address of the Customer" formControlName="address" />
            </div>
        </form>

        <div class="box-footer col-md-12">
            <button type="submit" class="btn btn-primary" (click)="_addCustomerClickHandler()">ADD CUSTOMER</button>
        </div>
    </div>
</section>