<section class="content">
    <div class="box-header with-border box box-primary">
        <form [formGroup]="_customerMasterForm">
            <div class="form-group col-md-3">
                <label>Item Code ADD ITEM</label>
                <input type="email" class="form-control" placeholder="Enter Item Code" [(ngModel)]="_customerDetails.csName" formControlName="csName" />
            </div>
            <div class="form-group col-md-3">
                <label>Name</label>
                <input type="email" class="form-control" placeholder="Enter Name of Product" [(ngModel)]="_customerDetails.csPanNo" formControlName="csPanNo" />
            </div>

            <div class="form-group col-md-6">
                <label>Category</label>
                <input type="Description" class="form-control" placeholder="Enter Description of the Product" [(ngModel)]="_billingAddress.csadAddress1" formControlName="billCsadAddress1" />
            </div>
            <div class="form-group col-md-6">
                <label>Quantity</label>
                <input type="email" class="form-control" placeholder="Enter Quantity of the Products" [(ngModel)]="_billingAddress.csadAddress2" formControlName="billCsadAddress2" />
            </div>
            <div class="form-group col-md-6">
                <label>Price</label>
                <input type="email" class="form-control" placeholder="Enter Price of the Product" [(ngModel)]="_billingAddress.csadAddress4" formControlName="billCsadAddress4" />
            </div>

            <!--<div class="form-group col-md-3">
        <label>City</label>
        <select class="form-control"
        [(ngModel)]="_billingAddress.csadCity"
        formControlName="billCsadCity"
        >
        <option *ngFor="let billCities of _billCities"
        [value]="billCities.id"
          >{{billCities.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Pincode</label>
        <input type="email" class="form-control" placeholder="Enter pincode"
        [(ngModel)]="_billingAddress.csadPincode"
        formControlName="billCsadPincode"
        />
      </div>
      <div class="form-group col-md-3">
        <label>GST No.</label>
        <input type="email" class="form-control" placeholder="Enter GST number"
        [(ngModel)]="_billingAddress.csadGstNo"
        formControlName="billCsadGstNo"
        />
      </div>
      <div class="bottom-border">
        <h4 class="box-title">Shipping Address</h4>
      </div>
      <div class="form-group col-md-6">
        <label>Address 1</label>
        <input type="email" class="form-control" placeholder="Enter address 1"
        [(ngModel)]="_shippingAddress.csadAddress1"
        formControlName="shipCsadAddress1"
        />
      </div>
      <div class="form-group col-md-6">
        <label>Address 2</label>
        <input type="email" class="form-control" placeholder="Enter address 2"
        [(ngModel)]="_shippingAddress.csadAddress2"
        formControlName="shipCsadAddress2"
        />
      </div>
      <div class="form-group col-md-6">
        <label>Address 3</label>
        <input type="email" class="form-control" placeholder="Enter address 3"
        [(ngModel)]="_shippingAddress.csadAddress3"
        formControlName="shipCsadAddress3"
        />
      </div>
      <div class="form-group col-md-6">
        <label>Address 4</label>
        <input type="email" class="form-control" placeholder="Enter address 4"
        [(ngModel)]="_shippingAddress.csadAddress4"
        formControlName="shipCsadAddress4"
        />
      </div>
      <div class="form-group col-md-3">
          <label>State</label>
          <select class="form-control"
          [(ngModel)]="_shippingAddress.csadState"
          formControlName="shipCsadState"
          (change)="_shipStateChangeListner($event.target.value)"
          >
          <option *ngFor="let states of _allStates"
          [value]="states.id"
            >{{states.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label>City</label>
          <select class="form-control"
          [(ngModel)]="_shippingAddress.csadCity"
          formControlName="shipCsadCity"
          >
          <option *ngFor="let shipCities of _shipCities"
          [value]="shipCities.id"
            >{{shipCities.name}}</option>
          </select>
        </div>
      <div class="form-group col-md-3">
        <label>Pincode</label>
        <input type="email" class="form-control" placeholder="Enter pincode"
        [(ngModel)]="_shippingAddress.csadPincode"
        formControlName="shipCsadPincode"
        />
      </div>
      <div class="form-group col-md-3">
        <label>GST No.</label>
        <input type="email" class="form-control" placeholder="Enter GST number"
        [(ngModel)]="_shippingAddress.csadGstNo"
        formControlName="shipCsadGstNo"
        />
      </div>
      <div class="bottom-border">
        <h4 class="box-title">Other Details</h4>
      </div>

      <div class="form-group col-md-3">
        <label>Contact Person 1</label>
        <input type="email" class="form-control" placeholder="Enter contact person 1 name"
        [(ngModel)]="_customerDetails.csContactPerson1"
        formControlName="csContactPerson1"
        />
      </div>
      <div class="form-group col-md-3">
        <label>Tel No.1</label>
        <input type="email" class="form-control" placeholder="Enter telephone number 1"
        [(ngModel)]="_customerDetails.csTelNo1"
        formControlName="csTelNo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label>Contact Person 2</label>
        <input type="email" class="form-control" placeholder="Enter contact person 2 name"
        [(ngModel)]="_customerDetails.csContactPerson2"
        formControlName="csContactPerson2"
        />
      </div>
      <div class="form-group col-md-3">
        <label>Tel No.2</label>
        <input type="email" class="form-control" placeholder="Enter telephone number 1"
        [(ngModel)]="_customerDetails.csTelNo2"
        formControlName="csTelNo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label>Email ID</label>
        <input type="email" class="form-control" placeholder="Enter email"
        [(ngModel)]="_customerDetails.csEmailId"
        formControlName="csEmailId"
        />
      </div>

      <div class="form-group col-md-3">
        <label>Landline No.</label>
        <input type="email" class="form-control" placeholder="Enter landline number"
        [(ngModel)]="_customerDetails.csTelNo3"
        formControlName="csTelNo3"
        />
      </div>
      <div class="form-group col-md-3">
        <label>Blacklisted</label>
        <select class="form-control"
        [(ngModel)]="_customerDetails.csBlacklisted"
        formControlName="csBlacklisted"
        >
          <option value="Y">Yes</option>
          <option value="N">No</option>
        </select>
      </div>-->
            <div class="form-group col-md-12">
                <label>Remarks</label>
                <input type="email" class="form-control" placeholder="Enter remarks" [(ngModel)]="_customerDetails.csRemark" formControlName="csRemark" />
            </div>
        </form>

        <div class="box-footer col-md-12">
            <button type="submit" class="btn btn-primary" (click)="_addCustomerClickHandler()">ADD ITEM</button>
        </div>
    </div>
</section>