<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo">
    <span class="logo-mini"><b>AUP</b>STORE</span> 
    <span class="logo-lg"><b>AUP</b>STORE</span> 
  </a> 
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle hidden-lg-up pull-left"  data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a> 

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <img src="assets/dist/img/AUPSTORE.jpg"
              class="user-image"
              alt="User Image"/> 
          <span class="hidden-xs"></span>
          </a> 
           <ul class="dropdown-menu"> 
            <!-- User image -->
            <li class="user-header">
           <img
                src="assets/dist/img/AUPSTORE.jpg"
                class="img-circle"
                alt="User Image"
              /> 

              <p>
                In your service
                <small></small>
              </p>
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <a 
                  class="btn btn-default btn-flat"                  
                  >Sign out</a
                >
                <!-- (click)="logoutClickListener()" nasa loob to ng "a" tag sa taas-->
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
