<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <!--<img src=""
          class="img-circle"
          alt="User Image"
        /> -->
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a routerLink="/masters/dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>

            <li class="treeview" style="height: auto">
                <a href="#">
                    <i class="fa fa-circle-o"></i> <span>Item</span>
                    <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
                </a>
                <ul class="treeview-menu" style="display: none">
                    <li>
                        <a href="#" routerLink="/masters/item/view"><i class="fa fa-circle-o"></i>View Item</a
            >
          </li>
          <li>
            <a href="#" routerLink="/masters/item/add">
              <i class="fa fa-circle-o"></i>Add New Item</a
            >
          </li>
          <li>
            <a href="#" routerLink="/masters/item/modify"
              ><i class="fa fa-circle-o"></i>Modify Item</a
            >
          </li>
        </ul>
      </li>

      <li class="treeview" style="height: auto">
        <a href="#">
          <i class="fa fa-circle-o"></i> <span>Customer</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
                        <ul class="treeview-menu" style="display: none">
                            <li>
                                <a href="#" routerLink="/masters/customer/view"><i class="fa fa-circle-o"></i>View Customers</a
            ></li>
            <li>
            <a href="#" routerLink="/masters/customer/add">
              <i class="fa fa-circle-o"></i>Add Customer</a
            ></li>
            <li>

            <a href="#" routerLink="/masters/customer/modify"
              ><i class="fa fa-circle-o"></i>Modify Customer</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>