<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Inventory System </b></a>
    </div>
    <!-- /.login-logo.. -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign up to start your session</p>

        <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
            <div class="form-group has-feedback">
                <input matInput class="form-control" formControlName="user_name" placeholder="Name" />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input matInput class="form-control" formControlName="email" placeholder="Email" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input matInput class="form-control" type="password" formControlName="password" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>


            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck"></div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button [disabled]="!signupForm.valid" class="btn btn-primary btn-block btn-flat" type="submit"><span>Sign Up</span></button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>