<div class="login-box">
    <div class="login-logo">
        <a href="../masters/login"><b>Inventory </b>System</a>
    </div>
    <!-- /.login-logo.. -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <div class="form-group has-feedback">
                <input matInput class="form-control" formControlName="email" placeholder="Name" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input matInput class="form-control" formControlName="password" type="password" placeholder="Name" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck"></div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!loginForm.valid">
        Sign In
      </button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>