<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Inventory Management System </b></a>
    </div>
    <!-- /.login-logo.. -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <div class="form-group has-feedback">
                <input matInput class="form-control" formControlName="email" placeholder="Email Address" />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input matInput class="form-control" formControlName="password" type="password" placeholder="Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck"></div>
                </div>
                <!-- /.col -->
                <div class="layout-align">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!loginForm.valid">
        Sign In
      </button>
                </div>
                <div class="layout-align">
                <a href="#" routerLink="/masters/signup" class="btn btn-primary btn-block btn-flat">Sign Up</a>
              </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>