<section class="content">
    <div class="box-header with-border box box-primary" style="background: white; box-shadow: none">
        <div class="box-header with-border">
            <h3 class="box-title">CUSTOMERS</h3>
        </div>
        <mat-table #table [dataSource]="_dataSource$ | async">
            <!-- Position Column -->
            <ng-container matColumnDef="itCustomerCode">
                <mat-header-cell *matHeaderCellDef> Customer ID </mat-header-cell>
                <mat-cell *matCellDef="let customer">
                    {{ customer.customers_id }}
                </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="itCustomerFirstName">
                <mat-header-cell *matHeaderCellDef> Customers Name </mat-header-cell>
                <mat-cell *matCellDef="let customer">
                    {{ customer.customers_name }}
                </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="itAddress">
                <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                <mat-cell *matCellDef="let customer">
                    {{ customer.address }}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <span style="position: absolute; right: 0;">
              <button mat-icon-button>
                <mat-icon color="primary">
                  edit
                </mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon color="warn">
                  delete
                </mat-icon>
              </button>
            </span>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
    </div>

    <!-- <pre>{{ _items.value | json }}</pre> -->
</section>